.main-nav {
  background-color: #808080 !important;
}

.blog-section {
  flex-wrap: wrap;
}
.blog-search {
  padding: 0px 20px;
}
.search-box {
  box-shadow: none;
  border: 1px solid #808080;
}
.search-box:focus {
  box-shadow: none;
  border: 1px solid #808080;
}
.search-btn {
  color: #8f1f13;
  border: 1px solid #8f1f13;
  transition: ease-in-out 0.4s;
}
.search-btn:hover,
.search-btn:focus {
  background-color: #8f1f13;
  color: #fff;
  font-weight: 600;
  box-shadow: none;
  transition: ease-in 0.4s;
}

@media screen and (max-width: 462px) {
  .blog-section h2 {
    padding-bottom: 8px;
  }
  .blog-search {
    margin-bottom: 20px;
  }
}
