/* 
============================
        Main Navigatin
=============================
 */

#main-nav {
  background-color: transparent;
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  
}

/* 
=====================================
        Nav Logo
===================================== */

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-img {
  width: 80px;
  height: 20px;
  margin-right: 6px;
  margin-bottom: 6px;
}
.logo-name {
  font-size: 20px;
  color: #fff;
  font-weight: 000;
}

/* 
=======================================
        Nav List
=======================================
 */

.nav-list ul li {
  list-style: none;
  display: inline-block;
}
.nav-list ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  padding: 0 14px;
  transition: all 0.4s;
  text-transform: uppercase;
}
.nav-list ul li a:hover {
  color: #8f1f13;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s;
}

.active {
  /* color: #0d6efd !important; */
  color: #8f1f13 !important;
  font-weight: 800 !important;
  font-size: 16px !important;
}

/* 
==========================================
        Nav Sign
==========================================
 */

.nav-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-out a {
  margin-left: 6px;
}
.sign-in a,
.sign-out a {
  border: 1px solid #8f1f13;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  transition: all 0.4s;
}

.sign-in a:hover,
.sign-out a:hover {
  background-color: #8f1f13;
  font-size: 16px;
  font-weight: 600;
  color: #fff !important;
  transition: all 0.4s;
}
.sign-in .active, .sign-out .active{
  background-color: #8f1f13;
  font-size: 16px;
  font-weight: 600;
}

/* 
============================
        Mobile Navigatin
=============================
 */

#mobile-nav {
  display: none;
  line-height: 64px;
  z-index: 1;
}
#mobile-nav .logo-name{
  color: #000;
}

.mobile-menu {
  border: 1px solid #8f1f13;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 20px;
  color: #8f1f13;
  cursor: pointer;
}
.menu-close {
  font-size: 30px;
  color: #8f1f13 !important;
  cursor: pointer;
}
#mobile-nav ul li {
  line-height: 26px;
}
#mobile-nav ul li a {
  color: #000;
  font-size: 18px;
  padding-left: 40%;
  font-weight: 500;
  transition: all 0.4s;
}
#mobile-nav ul li a:hover {
  font-size: 16px;
  font-weight: 600;
  color: #8f1f13;
  transition: all 0.4s;
}

/* 
============================
        Media Quary
=============================
 */

/* ------ 900px ----- */
@media screen and (max-width: 980px) {
  #main-nav {
    display: none;
  }
  #mobile-nav {
    display: block;
  }
}

/* ----- 500px ------ */
@media screen and (max-width: 520px) {
  .logo-img {
    width: 70px;
    height: 15px;
    margin-bottom: 8px;
  }
  .logo-name {
    font-size: 18px;
  }
}

/* ----- 420px ------ */
@media screen and (max-width: 420px) {
  .logo-img {
    width: 66px;
    height: 14px;
    margin-bottom: 8px;
  }
  .logo-name {
    font-size: 16px;
  }
}
