#resume {
  padding-bottom: 20px;
}
.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 82px 0 18px 0;
}
.resume-section h2 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.resume-underline {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-top: -10px;
}
.resume-underline01 {
  width: 60px;
  height: 4px;
  background-color: #8f1f13;
}
.resume-underline i {
  color: #b39802;
  font-size: 18px;
}

/* 
========================================
      Resume Left Side
======================================== */


.resume-img{
  height: 220px;
}
.resume-left h2{
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.resume-left h3{
  font-size: 14px;
  text-align: center;
}



/* 
========================================
      Resume Right Side
======================================== */






@media screen and (max-width: 834px) {
  .resume-img{
    height: 200px;
  }
  .resume-left h2{
    font-size: 22px;

  }
  .resume-left h3{
    font-size: 12px;
  }
  
}

@media screen and (max-width: 767px) {
  .resume-left h2{
    font-size: 24px;

  }
  .resume-left h3{
    font-size: 14px;
  }
  .resume-01{
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .resume-img{
    height: 180px;
  }
  .resume-left h2{
    font-size: 22px;

  }
  .resume-left h3{
    font-size: 12px;
  }
  
}