.main-nav {
  background-color: #808080 !important;
}

.main-blog-view {
  display: flex;
  width: 100%;
}
.blog-search{
  padding-bottom: 20px;
}

.blog-view-right {
  width: 35%;
  position: fixed;
  top: 80px;
  right: 0px;
  bottom: 0;
  overflow-x: hidden;
  padding: 20px 10px 0px 30px;
  margin-bottom: 126px;
  overflow-y: scroll;
}

.search-box{
  box-shadow: none;
  border: 1px solid #808080;
}
.search-box:focus{
  box-shadow: none;
  border: 1px solid #808080;
}
.search-btn{
  color: #8f1f13;
  border: 1px solid #8f1f13;
  transition: ease-in-out 0.4s;
}
.search-btn:hover{
  background-color: #8f1f13;
  color: #fff;
  font-weight: 600;
  transition: ease-in 0.4s;
}
.blog-view-right-title{
  font-size: 26px;
  font-weight: 700;
}
.blog-view-right-body{
  margin-bottom: 20px;
}

.right-blog-post-img a img{
  width: 100px;
  height: 100%;
}
.right-blog-post-divider{
  width: 3px;
  height: 20px;
  background-color: #8f1f13;
  margin-right: 4px;
}
.right-blog-post-type{
  display: flex;
}
.right-blog-post-type-name{
  font-size: 12px;
  font-weight: 500;
  color: #000;
}
.right-blog-post-subtitle{
  display: flex;
  justify-content: space-between;
}
.post-date{
  font-size: 10px;
}
.blog-view-right-blog-post{
  display: flex;
  padding: 8px;
  border: 1px solid silver;
  border-radius: 4px;
}
.right-blog-post-content{
  padding-left: 12px;
}
.right-blog-post-content h4{
  font-size: 20px;
}
/* 
===================================
    View Blog Left
====================================
*/

.blog-view-left {
  margin-right: 35%;
  padding: 94px 80px 40px 80px;
}

.view-blog-img {
  width: 100%;
  height: 300px;
}
.blog-view-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.blog-author {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-author-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.blog-author-name {
  padding: 10px 0 0 10px;
  font-size: 14px;
}
.blog-post-date p {
  font-size: 12px;
}

.blog-view-title h2 {
  font-size: 32px;
  font-weight: 700;
}

.blog-view-content p {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .main-blog-view {
    flex-wrap: wrap;
  }
  .blog-view-right {
    position: unset;
    width: 100%;
    padding: 30px 80px;
    border-bottom: none;
    border-top: 1px solid #c0c0c0;
    margin-bottom: 0;
  }
  .blog-view-left {
    margin-right: 0%;
    padding: 100px 80px 30px 80px;
  }
  .blog-view-title h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .blog-view-right {
    padding: 30px 40px;
  }
  .blog-view-left {
    padding: 100px 40px 30px 40px;
  }
  .view-blog-img {
    height: 260px;
  }
  .blog-author-img {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 500px) {
  .blog-view-right {
    padding: 30px 20px;
  }
  .blog-view-left {
    padding: 100px 20px 30px 20px;
  }
  .view-blog-img {
    height: 240px;
  }
  .blog-view-title h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  .blog-view-right {
    padding: 30px 12px;
  }
  .blog-view-left {
    padding: 100px 10px 30px 10px;
  }
  .view-blog-img {
    height: 200px;
  }
  .blog-author-img {
    width: 26px;
    height: 26px;
  }
  .blog-author-name {
    padding: 10px 0 0 10px;
    font-size: 12px;
  }
  .blog-post-date p {
    font-size: 10px;
  }

  .blog-view-title h2 {
    font-size: 22px;
  }
}
