* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  background-color: #fff;
  position: relative;
  height: 100%;
}
#admin-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #111827;
  width: 260px;
  height: 100%;
}
#admin-menu .admin-logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 0 0 20px;
}
#admin-menu .admin-logo img {
  width: 60px;
  height: 20px;
  margin-right: 10px;
}
.admin-items li:focus {
  border-left: 4px solid #fff;
}
.admin-items li a {
  position: relative;
  text-decoration: none;
  color: #868d97;
  padding: 14px 0 14px 20px;
}
.admin-items li a span i {
  padding-right: 10px;
}
.fa-chevron-down {
  position: absolute;
  top: 16px;
  left: 90%;
}

.nav-link:focus {
  color: #fff;
  background: #253047;
  cursor: pointer;
  border-left: 4px solid #fff;
  border-radius: 6px;
}
.nav-link:hover {
  color: #fff;
  background: #253047;
}

/* ============ Nav Bar ========== */

#admin-interface {
  margin-left: 260px;
}
.n1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#admin-menu-btn {
  display: none;
  color: #2b2b2b;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 980px) {
  #admin-menu-btn {
    display: initial;
  }
  #admin-menu {
    width: 240px;
    position: fixed;
    left: -240px;
    transition: 0.4s ease;
  }
  #admin-menu.actived {
    left: 0px;
  }
  #admin-interface {
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 0.4s ease;
  }
  #admin-menu.actived ~ #admin-interface {
    width: calc(100% - 240px);
    margin-left: 240px;
    transition: 0.4s ease;
  }
  #admin-interface .navigation {
    width: 100%;
  }
}

@media (max-width: 800px) {
  #admin-menu .admin-logo {
    padding: 20px 0 0 10px;
  }
  .admin-items li a {
    padding: 12px 0 12px 10px;
  }
}
@media (max-width: 600px) {
  #admin-menu {
    width: 200px;
    left: -200px;
  }

  #admin-menu.actived ~ #admin-interface {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
}

@media (max-width: 460px) {
  #admin-menu .admin-logo {
    padding: 10px 0 0 10px;
  }
  #admin-menu .admin-logo img {
    width: 54px;
    height: 16px;
    margin-right: 6px;
  }
  .admin-logo h2{
    font-size: 20px;
  }
  #admin-menu {
    width: 180px;
    left: -180px;
  }

  #admin-menu.actived ~ #admin-interface {
    width: calc(100% - 180px);
    margin-left: 180px;
  }
}

@media (max-width: 380px) {
  #admin-menu {
    width: 160px;
    left: -160px;
  }

  #admin-menu.actived ~ #admin-interface {
    width: calc(100% - 160px);
    margin-left: 160px;
  }
}
