* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: #fff;
  height: 100%;
  position: relative;
  display: flex;
}
#admin-menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background: #111827;
  width: 260px;
  height: 100%;
}
#admin-menu .admin-logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 0 0 20px;
}
#admin-menu .admin-logo img {
  width: 60px;
  height: 20px;
  margin-right: 10px;
}
.admin-items li:focus {
  border-left: 4px solid #fff;
}
.admin-items {
  margin-top: 20px;
}
.admin-items li a {
  position: relative;
  text-decoration: none;
  color: #868d97;
  padding: 18px 0 18px 20px;
}
.nav-link {
  color: #868d97;
}
.admin-items li a span i {
  padding-right: 10px;
}
.fa-chevron-down {
  position: absolute;
  top: 16px;
  left: 90%;
}
li {
  list-style: none;
}

.nav-link:focus {
  color: #fff;
  background: #253047;
  cursor: pointer;
  border-left: 4px solid #fff;
  border-radius: 6px;
}
.nav-link:hover {
  color: #fff;
  background: #253047;
}

/* ============ Nav Bar ========== */

#admin-interface {
  width: calc(100% - 260px);
  margin-left: 260px;
  position: relative;
}
.navigation {
  background: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.n1,
.n2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.interface-header-search{
  width: 400px;
}
.input-search {
  box-shadow: none;
  border: 1px solid #fff;
}
.input-search:focus {
  box-shadow: none;
  border: 1px solid #fff;
}
.search-btn {
  box-shadow: none;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: none;
}
.search-btn:hover,
.search-btn:focus {
  background-color: #8f1f13;
  border: 1px solid #8f1f13;
  box-shadow: none;
  color: #fff;
}

#admin-menu-btn {
  display: none;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  margin-right: 20px;
}

/* ====== interface body ====== */
.interface-body {
  background: #253047;
}
.dashboard-title h2{
  color: #fff;
  font-weight: 600;
  font-size: 28px;
}

.interface-body p{
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (max-width: 980px) {
 
  #admin-menu {
    width: 240px;
    position: fixed;
    left: -240px;
    transition: 0.4s ease;
  }
  #admin-menu.actived{
    left: 0px;
  }
  #admin-menu-btn {
    display: initial;
  }
  #admin-menu.actived~ #admin-interface{
    width: calc(100% - 240px);
    margin-left: 240px;
    transition: 0.4s ease;

  }
  #admin-interface{
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 0.4s ease;
  }
  #admin-interface .navigation{
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #admin-menu .admin-logo {
    padding: 20px 0 0 10px;
  }
  .admin-items li a {
    padding: 16px 0 16px 10px;
  }
  .interface-header-search{
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
  #admin-menu {
    width: 220px;
    left: -220px;
  }

  #admin-menu.actived ~ #admin-interface {
    width: calc(100% - 220px);
    margin-left: 220px;
  }
  .interface-header-search{
    width: 240px;
  }
}

@media screen and (max-width: 480px) {
  .interface-header-search{
    width: 200px;
  }
}



